/* index */
body {
    font-size: 15px; 
    line-height: 10px;
    color:black;
    font-weight: 10px;
    font-family: "Arial", sans-serif;   
}
h1 {
    font-size: 15px; 
    line-height: 10px;
    color:black;
    font-weight: 10px;
    font-family: "Arial", sans-serif;   
}
h2 {
    font-size: 10px; 
    line-height: 5px;
    color:black;
    font-weight: 10px;
    font-family: "Arial", sans-serif;  
}
/* catalog-item */

/* catalog */
